.Playlist {
    width: 50%;
  }
  
  .Playlist input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .Playlist-save {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #1DB954;
    color: white;
    border: none;
  }
  